<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.DianYingDao">
    <resultMap id="hehe" type="DianYingXinXi">
        <id property="id" column="id"/>
        <result property="leixingId" column="leixing_id"/>
        <result property="ming" column="ming"/>
        <result property="yanYuan" column="yanYuan"/>
        <result property="daoYan" column="daoYan"/>
        <result property="piaoJia" column="piaoJia"/>
    </resultMap>

    <sql id="columns">
        leixing_id
        ,ming, yanyuan, daoyan, piaojia, tupianlujing
    </sql>
    <!--    namespace命名空间名要和接口名一致-->
    <!--    使用useGeneratedKeys对于自增长的id值插入成功后，数据库自增id值会返回到实体类的keyProperty属性设置的实体类属性中,不加数据库也会自增id，加了可以取出并返回到实体类属性中-->
    <insert id="insertDianYing" parameterType="DianYingXinXi" useGeneratedKeys="true" keyProperty="id">
        insert into dian_ying(<include refid="columns"></include>)
        values (#{LeiXingId}, #{ming}, #{yanYuan}, #{daoYan}, #{piaoJia}, #{tuPianLuJing})
    </insert>

    <update id="updateDianYing" parameterType="DianYingXinXi">
        update dian_ying
        set leixing_id=#{leixingId},
            ming=#{ming},
            yanyuan=#{yanYuan},
            daoYan=#{daoYan},
            tuPianLuJing=#{tuPianLuJing}
        where id = #{id}
    </update>

    <delete id="deleteDianYingById" parameterType="int">
        delete
        from dian_ying
        where id = #{id}
    </delete>

    <select id="chaDianYing" resultMap="hehe">
        select id, leixing_id, ming, yanyuan, daoyan, piaojia
        from dian_ying
    </select>

    <select id="chaDianYingByTiaoJian" resultMap="hehe" parameterType="TiaoJian">
        select <include refid="columns"></include> from dian_ying
        where 1=1
        <if test="diJia !=null">
            <![CDATA[and piaoJia >= #{diJia}]]>
        </if>
        <if test="gaoJia !=null">
            <![CDATA[and piaoJia <= #{gaoJia}]]>
        </if>
        <if test="ming !=null">
            and ming like concat('%',#{ming},'%')
        </if>
    </select>
</mapper>
